body {
    font-family: 'Roboto Mono', monospace !important;
    display: flex;
    height: 100vh;

    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
}